@model TechDeviShopVs002.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Chi tiết thông tin khách hàng
}


<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.CustomerGender)*@
            @Html.Encode(Model.CustomerGender == true ? "Nam" : "Nữ")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerBirthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerBirthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrtherDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Thoát", "Index")
</p>
