@model PagedList.IPagedList<TechDeviShopVs002.Models.OrderDetail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách hóa đơn chi tiết
}

<p>
    @Html.ActionLink("Thêm mới hóa đơn chi tiết", "Create")
</p>
@using (Html.BeginForm("Index", "OrderDetails", FormMethod.Get))
{
    <p>
        Nhập nội dung tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}


<table class="table">
    <tr>
        <th>
            Mã hóa đơn
        </th>
        <th>
            Mã sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </th>*@
        <th>
            Giá bán
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá bán khuyến mãi
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </th>*@
        <th>
            Kích hoạt
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Product.ProductCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.PromotionPrice)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUser)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.OrderDetailID }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.OrderDetailID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.OrderDetailID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
