@model List<TechDeviShopVs002.Models.Category>

<script src="~/Assets/Client/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/Assets/Client/css/jquery.countdown.css" />
<script type="text/javascript" src="~/Assets/Client/js/bootstrap-3.1.1.min.js"></script>


<div class="w3ls_mobiles_grid_left_grid">
    <h3>Categories</h3>
    <div class="w3ls_mobiles_grid_left_grid_sub">
        @foreach (var item in Model.Where(x => x.ParentID == 0))
        {
            var url = "/sanpham/" + item.MetaTitle + "-" + item.CategoryID;
            var child = Model.Where(x => x.ParentID == item.CategoryID);
            if (child.Count() <= 0)
            {
                <ul class="panel_bottom" style="padding:0em 0 0 0em">
                    <li><a href="@url">@item.CategoryName</a></li>
                </ul>
            }
            if (child.Count() > 0)
            {
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>@item.CategoryName
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body panel_text">
                                <ul>
                                    @foreach (var itemChild in child)
                                    {
                                        var childUrl = "/sanpham/" + itemChild.MetaTitle + "-" + itemChild.CategoryID;
                                        <li><a href="@childUrl">@itemChild.CategoryName</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



