@model IEnumerable<TechDeviShopVs002.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh mục bài viết
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleCategory.ArticleCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalRating)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApprovedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MetalKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetalDescriptions)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleCategory.ArticleCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MetaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRating)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ApprovedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUser)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MetalKeywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetalDescriptions)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArticleID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArticleID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArticleID })
            </td>
        </tr>
    }

</table>
