@model TechDeviShopVs002.Models.Article
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listComment = (List<TechDeviShopVs002.Models.Comment>)ViewBag.Comment;
}


<link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Assets/Client/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="~/Assets/Client/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="~/Assets/Client/js/jquery.min.js"></script>
<!-- //js -->
<!-- web fonts -->
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->
<!-- for bootstrap working -->
<script type="text/javascript" src="~/Assets/Client/js/bootstrap-3.1.1.min.js"></script>
<script src="~/Assets/admin/plugins/ckeditor/ckeditor.js"></script>
<!-- //for bootstrap working -->

<div class="single" style="padding:0; background-color:rgb(240,240,240)">
    <div class="container">
        <div class="w3ls_mobiles_grids">
            <div class="col-md-9" style="border-style:solid ;border-color:black; border-width:0.5px; background-color:white; padding:0">
                <div class="breadcrumb_dress">
                    <div class="container">
                        <ul style="float:left">
                            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>></i></li>
                            <li><a href="/tin-tuc">Tin tức</a> <i>></i></li>
                            <li>@Model.Title</li>
                        </ul>
                    </div>
                </div>
                <ul style="padding:20px; list-style-type:none">
                    <li><h1>@Model.Title</h1></li>
                    <li><a>TechDeviShop| @Model.ApprovedDate</a>
                    <li><a>ViewCount: @Model.ViewCount| Vote:@Model.Votes</a></li>
                    <li style="border-bottom: 0.5px solid lightblue;"></li>
                </ul>
                <div style="padding:20px; padding-left:50px">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.ArticleContent))
                </div>
            </div>
            <div class="col-md-3">
                <div class="w3ls_mobiles_grid_right">
                    @{ Html.RenderAction("ArticleCategory", "Article");}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="additional_info" style="padding-top:10px">
    <div class="container">
        <p style="padding-bottom:10px; font-size:26px">Bình luận</p>
        <div class="review_grids" style="margin-top:20px; background-color:rgb(240,240,240) ">
            <div style="padding:10px">
                @using (Html.BeginForm("ArticleComment", "Article", FormMethod.Post))
                {
                    var session = (TechDeviShopVs002.Common.CusUserLogin)Session[TechDeviShopVs002.Common.CommonConstants.CusUserSession];

                    if (session != null)
                    {
                        <div class="form-group">
                            <textarea type="text" name="CommentContent" placeholder="Nhập nội dung bình luận"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Name" placeholder="Tên người bình luận" value="@session.CustomerName" />
                            <input type="email" name="Email" placeholder="Email" value="@session.CustomerEmail" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="ArticleID" value="@Model.ArticleID" />
                            <input value="Gửi" type="Submit" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <textarea type="text" name="CommentContent" placeholder="Nhập nội dung bình luận"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Name" placeholder="Tên người bình luận" />
                            <input type="email" name="Email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="ArticleID" name="ArticleID" value="@Model.ArticleID" />
                            <input value="Gửi" type="Submit" />
                        </div>
                    }
                }
            </div>
        </div>

        <div>
            @if (listComment != null)
            {
                foreach (var item in listComment)
                {
                    <div class="additional_info_sub_grids">
                        <div class="col-xs-2 additional_info_sub_grid_left">
                            <img src="/Data/images/avatar.jpg" alt=" " class="img-responsive" style="width:80px;height:80px;" />
                        </div>
                        <div class="col-xs-10 additional_info_sub_grid_right">
                            <div class="additional_info_sub_grid_rightl">
                                <a href="#">@item.Name</a>
                                <h5>@item.CreateDate</h5>
                                <p>
                                    @item.CommentContent.ToString();
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                }
            }
        </div>


    </div>
</div>



