@model List<TechDeviShopVs002.Models.Menu>


<style>
    #sethover:hover {
        background-color: blue;
    }
</style>

<div style="height:30px; margin:0">
    @{
        var session = (TechDeviShopVs002.Common.CusUserLogin)Session[TechDeviShopVs002.Common.CommonConstants.CusUserSession];
    }
    @if (session == null)
    {
        <ul style="list-style-type: none; margin:0; padding: 0; overflow: hidden; background-color:#3c43a4">
            @foreach (var item in Model)
            {
                <li style="float:right; display: inline-block; padding:5px">
                    <a id="sethover" href="@item.Link" target="@item.Target" style="color:white; text-align:center; text-decoration: none; padding: 10px;">
                        @item.Text
                    </a>
                </li>
            }

        </ul>
    }
    else
    {
        <div class="nav" style="margin:0; padding:0; background-color:#3c43a4; min-height:30px">
            <div class="dropdown" style="margin:0; padding:0; float:right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="color:white; margin-left:51px">
                    <span class="fa fa-user fa-fw"></span>
                    @session.CustomerName
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="position:absolute;">
                    <li><a href="/ho-so/"><i class="fa fa-user fa-fw"></i> Quản lý tài khoản</a></li>
                    <li><a href="/gio-hang/"><i class="fa fa-shopping-cart"></i> Quản lý giỏ hàng</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Logout", "User")"><i class="fa fa-sign-out fa-fw"></i> Thoát</a></li>
                </ul>
            </div>
        </div>
    }

</div>
<div class="clear"></div>
