@model TechDeviShopVs002.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listOrderHistory = (List<TechDeviShopVs002.Models.Order>)ViewBag.OrderHistory;
    var listOngingOrder = (List<TechDeviShopVs002.Models.Order>)ViewBag.OngoingOrders;
}

<link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Assets/Client/css/bootstrap-social.css" rel="stylesheet" />
<link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Assets/Client/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Assets/Client/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="~/Assets/Client/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="~/Assets/Client/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/Assets/Client/css/jquery.countdown.css" />
<script type="text/javascript" src="~/Assets/Client/js/bootstrap-3.1.1.min.js"></script>


<style>

    .tab {
        float: left;
        min-height: 300px;
    }

    .tabcontent {
        float: left;
        min-height: 300px;
        background-color: white;
    }

    .myProfile {
        margin: 0;
        padding: 30px;
    }

    .myProfileBody {
        margin: 0;
        padding: 0;
    }

    .myProfileItem {
        width: 200px;
        display: inline-block;
        overflow-wrap: break-word;
        word-wrap: break-word;
        padding-right: 10px;
        box-sizing: border-box;
        vertical-align: top;
        margin-bottom: 40px;
    }

    .myProfileItemTitle {
        color: black;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .myProfileItemInfo {
        color: black;
        font-size: 15px;
        padding-top: 7px;
    }

    .myProfileFooter {
        width: 288px;
        margin-top: 30px;
    }

        .myProfileFooter .a {
            margin-bottom: 20px;
            display: block;
        }

    .mybtn {
        background-color: #1a9cb7;
        border-color: #1a9cb7;
        color: #fff;
        border-style: solid;
        margin: 0;
        height: 48px;
        padding: 0 36px;
        font-size: 14px;
        line-height: 46px;
        border-width: 1px;
        text-align: center;
    }

    .myChangePassForm {
        width: 350px;
        margin: 0;
        padding: 0;
        position: relative;
    }

        .myChangePassForm input {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 14px;
            height: 40px;
            padding: 0 10px 0 10px;
            margin-bottom: 2px;
            outline: none;
        }
</style>



<div class="single" style="padding:0; background-color:#eff0f4">
    <div class="container-fluid" style="margin:0;">
        <div class="row" style="margin-top:20px">
            <div style="width:250px">
                <ul class="tab" style="list-style-type:none; max-width:190px; margin-left:30px;">
                    <li><a>Quản lý tài khoản</a></li>
                    <li class="tablinks btn" onclick="openCity(event, 'ProfileInfo')" id="defaultOpen">Thông tin cá nhân</li>
                    <li class="tablinks btn" onclick="openCity(event, 'ChangePass')">Đổi mật khẩu</li>
                    <li><a>Đơn hàng của tôi</a></li>
                    <li class="tablinks btn" onclick="openCity(event, 'OngoingOrders')">Đơn hàng đang thực hiện</li>
                    <li class="tablinks btn" onclick="openCity(event, 'OrderHistory')">Lịch sử mua hàng</li>
                </ul>
            </div>
            <div style="background-color:white; margin-left:250px;">
                <div id="ProfileInfo" class="tabcontent" style="width:98%">
                    <div class="myProfile">
                        <div class="myProfileBody">
                            <div>
                                <div class="myProfileItem">
                                    <h3 class="myProfileItemTitle">
                                        <a>Tên</a>
                                    </h3>
                                    <a class="myProfileItemInfo">@Model.CustomerName</a>
                                </div>
                                <div class="myProfileItem" style="min-width:200px">
                                    <h3 class="myProfileItemTitle">
                                        <a>Địa chỉ Email</a>
                                    </h3>
                                    <a class="myProfileItemInfo">@Model.CustomerEmail</a>
                                </div>
                                <div class="myProfileItem" style="width:120px">
                                    <h3 class="myProfileItemTitle">
                                        <a>Số điện thoại</a>
                                    </h3>
                                    <a class="myProfileItemInfo">@Model.CustomerPhone</a>
                                </div>
                            </div>
                            <div>
                                <div class="myProfileItem">
                                    <h3 class="myProfileItemTitle">
                                        <a>Ngày sinh</a>
                                    </h3>
                                    <a class="myProfileItemInfo">@(Model.CustomerBirthday.GetValueOrDefault().ToString("dd/MM/yyyy"))</a>
                                </div>
                                <div class="myProfileItem" style="width:120px">
                                    <h3 class="myProfileItemTitle">
                                        <a>Giới tính</a>
                                    </h3>
                                    <a class="myProfileItemInfo">@Html.Encode(Model.CustomerGender == true ? "Nam" : "Nữ")</a>
                                </div>
                            </div>
                            <div>
                                <div class="myProfileItem" style="min-width:900px">
                                    <h3 class="myProfileItemTitle">
                                        <a>Địa chỉ</a>
                                    </h3>
                                    <a class="myProfileItemInfo">@Model.CustomerAddress</a>
                                </div>
                            </div>
                            @if (Model.OrtherDetail != null)
                            {
                                <div>
                                    <div class="myProfileItem" style="min-width:900px">
                                        <h3 class="myProfileItemTitle">
                                            <a>Thông tin khác</a>
                                        </h3>
                                        <a class="myProfileItemInfo">@Model.OrtherDetail</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="myProfileFooter">
                            <a class="btn btn-default mybtn" href="@Url.Action("ChangeInfo","Profile")">Thay đổi thông tin</a>
                        </div>
                    </div>
                </div>

                <div id="ChangePass" class="tabcontent" style="width:98%">
                    <div class="myProfile">
                        @using (Html.BeginForm("ChangePass", "Profile", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.CustomerID)
                                <div class="myProfileBody">
                                    <p style="padding-bottom:10px">Ghi chú: Mật khẩu mặc định sau khi đăng nhập bằng Facebook khi chưa đổi là 123456</p>
                                    <div class="myChangePassForm form-group">
                                        <label>Mật khẩu hiện tại</label>
                                        <input name="OldPassword" type="password" placeholder="Vui lòng nhập mật khẩu hiện tại của bạn" />
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        <b></b>
                                        <span></span>
                                    </div>
                                    <div class="myChangePassForm form-group">
                                        <label>Mật khẩu mới</label>
                                        <input name="NewPassword" type="password" placeholder="Tối thiểu 6 kí tự bao gồm cả chữ và số" />
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        <b></b>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="myProfileFooter">
                                    @*<button type="button" class="btn btn-default mybtn" href="">Thay đổi</button>*@
                                    <input value="Thay đổi" type="Submit" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div id="OngoingOrders" class="tabcontent" style="width:98%">
                    @*<label style="padding-bottom:10px">Hóa đơn đang thực hiện</label>*@
                    <table class="table">
                        <tr>
                            <th>
                                Tên khách hàng
                            </th>
                            <th>
                                Tình trạng hóa đơn
                            </th>
                            <th>
                                Phương thức giao hàng
                            </th>
                            <th>
                                Ngày lập HĐ
                            </th>
                            <th>
                                Ngày BĐ giao hàng
                            </th>
                            <th>
                                Hạn yêu cầu giao hàng
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in listOngingOrder)
                        {
                            <tr>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Customer.CustomerName)*@
                                    @item.Customer.CustomerName
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.OrderStatus.OrderStatusName)*@
                                    @item.OrderStatus.OrderStatusName
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ShippingMethod.Title)*@
                                    @item.ShippingMethod.Title
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.OrderDate)*@
                                    @item.OrderDate
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ShippedDate)*@
                                    @item.ShippedDate
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.RequiredDate)*@
                                    @item.RequiredDate
                                </td>
                                <td>
                                    @Html.ActionLink("Xem chi tiết", "OngoingOrderDetail", new { id = item.OrderID })
                                </td>
                            </tr>
                        }

                    </table>
                </div>

                <div id="OrderHistory" class="tabcontent" style="width:98%">
                    <table class="table">
                        <tr>
                            <th style="min-width:120px">
                                Tên khách hàng
                            </th>
                            <th style="min-width:120px">
                                Tình trạng hóa đơn
                            </th>
                            <th style="min-width:120px">
                                Phương thức giao hàng
                            </th>
                            <th style="min-width:120px">
                                Ngày lập HĐ
                            </th>
                            <th style="min-width:120px">
                                Ngày BĐ giao hàng
                            </th>
                            <th style="min-width:120px">
                                Hạn yêu cầu giao hàng
                            </th>
                            <th style="min-width:80px"></th>
                        </tr>

                        @foreach (var item in listOrderHistory)
                        {
                            <tr>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Customer.CustomerName)*@
                                    @item.Customer.CustomerName
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.OrderStatus.OrderStatusName)*@
                                    @item.OrderStatus.OrderStatusName
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ShippingMethod.Title)*@
                                    @item.ShippingMethod.Title
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.OrderDate)*@
                                    @item.OrderDate
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ShippedDate)*@
                                    @item.ShippedDate
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.RequiredDate)*@
                                    @item.RequiredDate
                                </td>
                                <td>
                                    @Html.ActionLink("Xem chi tiết", "HistoryOrderDetail", new { id = item.OrderID })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <script>
                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        </div>
        <br />
    </div>
</div>


