@model PagedList.IPagedList<TechDeviShopVs002.Models.ShoppingCartDetail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách giỏ hàng chi tiết
}

<p>
    @Html.ActionLink("Thêm mới giỏ hàng chi tiết", "Create")
</p>
@using (Html.BeginForm("Index", "ShoppingCartDetails", FormMethod.Get))
{
    <p>
        Nhập nội dung tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}


<table class="table">
    <tr>
        <th>
            Mã giỏ hàng
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>*@
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá bán
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá bán khuyến mãi
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUser)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingCartID)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionPrice)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedUser)
                </td>*@
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ShoppingCartDetailID }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.ShoppingCartDetailID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ShoppingCartDetailID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
