
@{
    ViewBag.Title = "Trang chu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listNewProducts = (List<TechDeviShopVs002.Models.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<TechDeviShopVs002.Models.Product>)ViewBag.ListFeatureProducts;
    var listSupplier = (List<TechDeviShopVs002.Models.Supplier>)ViewBag.Supplier;
    var listProducts = (List<TechDeviShopVs002.Models.Product>)ViewBag.Listproduct;
}

@section HeaderModal
{
    <!-- header modal -->
    @*<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Don't Wait, Login now!</h4>
                    </div>
                    <div class="modal-body modal-body-sub">
                        <div class="row">
                            <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
                                <div class="sap_tabs">
                                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                        <ul>
                                            <li class="resp-tab-item" aria-controls="tab_item-0"><span>Sign in</span></li>
                                            <li class="resp-tab-item" aria-controls="tab_item-1"><span>Sign up</span></li>
                                        </ul>
                                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                            <div class="facts">
                                                <div class="register">
                                                    <form action="#" method="post">
                                                        <input name="Email" placeholder="Email Address" type="text" required="">
                                                        <input name="Password" placeholder="Password" type="password" required="">
                                                        <div class="sign-up">
                                                            <input type="submit" value="Sign in" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                                            <div class="facts">
                                                <div class="register">
                                                    <form action="#" method="post">
                                                        <input placeholder="Name" name="Name" type="text" required="">
                                                        <input placeholder="Email Address" name="Email" type="email" required="">
                                                        <input placeholder="Password" name="Password" type="password" required="">
                                                        <input placeholder="Confirm Password" name="Password" type="password" required="">
                                                        <div class="sign-up">
                                                            <input type="submit" value="Create Account" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script src="~/Assets/Client/js/easyResponsiveTabs.js" type="text/javascript"></script>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#horizontalTab').easyResponsiveTabs({
                                            type: 'default', //Types: default, vertical, accordion
                                            width: 'auto', //auto or any width like 600px
                                            fit: true   // 100% fit in a container
                                        });
                                    });
                                </script>
                                <div id="OR" class="hidden-xs">OR</div>
                            </div>
                            <div class="col-md-4 modal_body_right modal_body_right1">
                                <div class="row text-center sign-with">
                                    <div class="col-md-12">
                                        <h3 class="other-nw">Sign in with</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="social">
                                            <li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
                                            <li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
                                            <li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
                                            <li class="social_behance"><a href="#" class="entypo-behance"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#myModal88').modal('show');
        </script>*@
    <!-- header modal -->
}
<!-- banner -->
@section Banner
{
    @{Html.RenderAction("Banner", "Home");}
}
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        @*<div class="col-md-5 wthree_banner_bottom_left">
                <div class="video-img">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                        <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- pop-up-box -->
                <script src="~/Assets/Client/js/jquery.magnific-popup.js" type="text/javascript"></script>
                <!--//pop-up-box -->
                <div id="small-dialog" class="mfp-hide">
                    <iframe src="https://www.youtube.com/embed/ZQa6GUVnbNM"></iframe>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
                </script>
            </div>*@
        <div class="@*col-md-7*@ wthree_banner_bottom_right">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#hotProduct" role="tab" id="hotProduct-tab" data-toggle="tab" aria-controls="hotProduct">Hot Product</a></li>
                    <li role="presentation"><a href="#newProduct" role="tab" id="newProduct-tab" data-toggle="tab" aria-controls="newProduct">New Product</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="hotProduct" aria-labelledby="hotProduct-tab">
                        <p style="text-align:end"><a href="#">Xem tất cả >></a></p>
                        <div class="agile_ecommerce_tabs">
                            
                            @foreach (var item in listFeatureProducts)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
                                <div class="col-md-3 agileinfo_new_products_grid">
                                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                                        <div class="hs-wrapper">
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <div class="w3_hs_bottom w3_hs_bottom_sub">
                                                <ul>
                                                    <li>
                                                        <a href="@url" @*data-toggle="modal" data-target="#myModal2"*@><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="height:70px">
                                            <h5><a href="@url">@item.ProductName</a></h5>
                                        </div>
                                        <div class="simpleCart_shelfItem">
                                            <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span> <i class="item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</i></p>
                                            <form action="#" method="post">
                                                @*<input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="w3ls_item" value="@item.ProductName">
                                                <input type="hidden" name="amount" value="@item.PromotionPrice">
                                                <button type="submit" class="w3ls-cart">Add to cart</button>*@
                                                <a class="btn btn-default" href="/them-gio-hang?productId=@item.ProductID&quantity=1">Add to cart</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="newProduct" aria-labelledby="newProduct-tab">
                        <p style="text-align:end"><a href="#">Xem tất cả >></a></p>
                        <div class="agileinfo_new_products_grids">
                            @foreach (var item in listNewProducts)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
                                <div class="col-md-3 agileinfo_new_products_grid">
                                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                                        <div class="hs-wrapper">
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                            <div class="w3_hs_bottom w3_hs_bottom_sub">
                                                <ul>
                                                    <li>
                                                        <a href="@url" @*data-toggle="modal" data-target="#myModal2"*@><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="height:70px">
                                            <h5><a href="@url">@item.ProductName</a></h5>
                                        </div>
                                        <div class="simpleCart_shelfItem">
                                            <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span> <i class="item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</i></p>
                                            <form action="#" method="post">
                                                @*<input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="w3ls_item" value="@item.ProductName">
                                                <input type="hidden" name="amount" value="@item.PromotionPrice">
                                                <button type="submit" class="w3ls-cart">Add to cart</button>*@
                                                <a class="btn btn-default" href="/them-gio-hang?productId=@item.ProductID&quantity=1">Add to cart</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- modal-video -->
<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="col-md-5 modal_body_left">
                        <img src="~/Assets/Client/images/11.jpg" alt=" " class="img-responsive" />
                    </div>
                    <div class="col-md-7 modal_body_right">
                        <h4>Quad Core Colorful Laptop</h4>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia  deserunt.
                        </p>
                        <div class="rating">
                            <div class="rating-left">
                                <img src="~/Assets/Client/images/star-.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="~/Assets/Client/images/star-.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="~/Assets/Client/images/star-.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="~/Assets/Client/images/star-.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="~/Assets/Client/images/star.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="modal_body_right_cart simpleCart_shelfItem">
                            <p><span>$880</span> <i class="item_price">$850</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Laptop">
                                <input type="hidden" name="amount" value="850.00">
                                <button type="submit" class="w3ls-cart">Add to cart</button>
                            </form>
                        </div>
                        <h5>Color</h5>
                        <div class="color-quality">
                            <ul>
                                <li><a href="#"><span></span></a></li>
                                <li><a href="#" class="brown"><span></span></a></li>
                                <li><a href="#" class="purple"><span></span></a></li>
                                <li><a href="#" class="gray"><span></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //modal-video -->
<!-- List laptop-->
<div class="new-products">
    <div class="container">
        <div class="col-md-4 single-left">
            <h1>Laptop</h1>
        </div>
        <div class="col-md-8 text-right">
            <a href="/product-find-by-laptop">Xem tất cả</a>
        </div>

        <div class="agileinfo_new_products_grids">
            @foreach (var item in listProducts.Where(x => x.CategoryID == 1))
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
                <div class="col-md-3 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                        <div class="hs-wrapper hs-wrapper1">
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <div class="w3_hs_bottom w3_hs_bottom_sub">
                                <ul>
                                    <li>
                                        <a href="@url" @*data-toggle="modal" data-target="#myModal2"*@><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="height:70px">
                            <h5><a href="@url">@item.ProductName</a></h5>
                        </div>
                        <div class="simpleCart_shelfItem">
                            <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span> <i class="item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</i></p>
                            <form action="#" method="post">
                                @*<input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="@item.ProductName">
                                <input type="hidden" name="amount" value="@item.PromotionPrice">
                                <button type="submit" class="w3ls-cart">Add to cart</button>*@
                                <a class="btn btn-default" href="/them-gio-hang?productId=@item.ProductID&quantity=1">Add to cart</a>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //List laptop-->
<!-- List Headset-->
<div class="new-products">
    <div class="container">
        <div class="col-md-4 single-left">
            <h1>Headset</h1>
        </div>
        <div class="col-md-8 text-right">
            <a href="/product-find-by-Headphone">Xem tất cả</a>
        </div>
        <div class="agileinfo_new_products_grids">
            @foreach (var item in listProducts.Where(x => x.CategoryID == 3))
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
                <div class="col-md-3 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                        <div class="hs-wrapper hs-wrapper1">
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <div class="w3_hs_bottom w3_hs_bottom_sub">
                                <ul>
                                    <li>
                                        <a href="@url" @*data-toggle="modal" data-target="#myModal2"*@><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="height:70px">
                            <h5><a href="@url">@item.ProductName</a></h5>
                        </div>
                        <div class="simpleCart_shelfItem">
                            <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span> <i class="item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</i></p>
                            <form action="#" method="post">
                                @*<input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="@item.ProductName">
                                <input type="hidden" name="amount" value="@item.PromotionPrice">
                                <button type="submit" class="w3ls-cart">Add to cart</button>*@
                                <a class="btn btn-default" href="/them-gio-hang?productId=@item.ProductID&quantity=1">Add to cart</a>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //List Headset-->
<!-- List Speaker-->
<div class="new-products">
    <div class="container">
        <div class="col-md-4 single-left">
            <h1>Speaker</h1>
        </div>
        <div class="col-md-8 text-right">
            <a href="/product-find-by-Speaker">Xem tất cả</a>
        </div>
        <div class="agileinfo_new_products_grids">
            @foreach (var item in listProducts.Where(x => x.CategoryID == 6))
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
                <div class="col-md-3 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                        <div class="hs-wrapper hs-wrapper1">
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                            <div class="w3_hs_bottom w3_hs_bottom_sub">
                                <ul>
                                    <li>
                                        <a href="@url" @*data-toggle="modal" data-target="#myModal2"*@><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="height:70px">
                            <h5><a href="@url">@item.ProductName</a></h5>
                        </div>
                        <div class="simpleCart_shelfItem">
                            <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span> <i class="item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</i></p>
                            <form action="#" method="post">
                                @*<input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="@item.ProductName">
                                <input type="hidden" name="amount" value="@item.PromotionPrice">
                                <button type="submit" class="w3ls-cart">Add to cart</button>*@
                                <a class="btn btn-default" href="/them-gio-hang?productId=@item.ProductID&quantity=1">Add to cart</a>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //List laptop-->
<!-- banner-bottom1 -->
<div class="banner-bottom1">
    <div class="agileinfo_banner_bottom1_grids">
        <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
            <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
            <a href="products.html">Shop Now</a>
        </div>
        <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
            <h4>hot deal</h4>
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
            <script src="js/jquery.countdown.js"></script>
            <script src="js/script.js"></script>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom1 -->
@*<!-- new-products -->
    <div class="new-products">
        <div class="container">
            <h3>New Products</h3>
            <div class="agileinfo_new_products_grids">
                @foreach (var item in listNewProducts)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ProductID;
                    <div class="col-md-3 agileinfo_new_products_grid">
                        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                <img src="@item.Image" alt="@item.ProductName" class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="height:70px">
                                <h5><a href="@url">@item.ProductName</a></h5>
                            </div>
                            <div class="simpleCart_shelfItem">
                                <p><span>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span> <i class="item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên hệ")</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="w3ls_item" value="@item.ProductName">
                                    <input type="hidden" name="amount" value="@item.PromotionPrice">
                                    <button type="submit" class="w3ls-cart">Add to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //new-products -->*@
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Top Brands</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                @*@foreach (var topbrand in listSupplier)
                    {
                        <li>
                            <img src="@topbrand.image" alt=" " class="img-responsive" />
                        </li>
                    }*@
                <li>
                    <img src="~/Assets/Client/images/tb1.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Assets/Client/images/tb2.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Assets/Client/images/tb3.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Assets/Client/images/tb4.jpg" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="~/Assets/Client/images/tb5.jpg" alt=" " class="img-responsive" />
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="~/Assets/Client/js/jquery.flexisel.js"></script>
    </div>
</div>
<!-- //top-brands -->
