@model IEnumerable<TechDeviShopVs002.Models.ArticleImage>

@{
    ViewBag.Title = "ImageOfArtivle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var ADinfos = (TechDeviShopVs002.Models.Article)ViewBag.ADinfo;
}

@section header{
    Danh mục ảnh của bài viết:
    @ADinfos.Title
}

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ArticleImageID }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.ArticleImageID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ArticleImageID })
            </td>
        </tr>
    }

</table>

