@model List<TechDeviShopVs002.Models.ViewModel.CartItem>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        <div class="section group">
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã SP</td>
                            <td>Tên SP</td>
                            <td>Ảnh SP</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.ProductID</td>
                                <td>@item.Product.ProductName</td>
                                <td><img src="@item.Product.Image" width="100" /></td>
                                <td><input type="text" class="txtQuantity" data-id="@item.Product.ProductID" value="@item.Quantity" /></td>
                                <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                                <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                <td><a href="#" data-id="@item.Product.ProductID" class="btn-delete">Xoá</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

        </div>
        <div class="section group">
            <div class="col-md-6">
                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    var session = (TechDeviShopVs002.Common.CusUserLogin)Session[TechDeviShopVs002.Common.CommonConstants.CusUserSession];

                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="shipName" class="form-control"  value="@session.CustomerName"/>
                    </div>
                    <div class="form-group">
                        <label>Điện thoại</label>
                        <input name="mobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" class="form-control" value="@session.CustomerEmail"/>
                    </div>

                    if (session == null)
                    {
                        <button type="submit" class="btn" disabled> Gửi đơn hàng </button>
                        <a class="alert-danger">Bạn cần đăng nhập tài khoản trước</a>
                    }
                    else
                    {
                        <button type="submit" class="btn">Gửi đơn hàng</button>
                    }
                }
            </div>

        </div>
    </div>
</div>



